<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Explorer, <%= @user.email %></h1>
    <p>
      Please confirm your email with the following token:
      <%= @user.confirmation_token %>
    </p>
  </body>
</html>
